
#c1Avatar, #c2Avatar, #c3Avatar, #c4Avatar, #blueAvatar, #redAvatar, #greenAvatar, #yellowAvatar {
    width: 120px;
    height: 80px;
}

#c1Avatar, #c2Avatar, #c3Avatar, #c4Avatar {
    cursor: pointer;
}

#blueAvatar {
    filter: brightness(0) saturate(100%) invert(9%) sepia(97%) saturate(6331%) hue-rotate(247deg) brightness(99%) contrast(147%);
}
#redAvatar {
    filter: brightness(0) saturate(100%) invert(21%) sepia(92%) saturate(5422%) hue-rotate(356deg) brightness(116%) contrast(134%);
}
#greenAvatar {
    filter: brightness(0) saturate(100%) invert(29%) sepia(95%) saturate(1257%) hue-rotate(92deg) brightness(96%) contrast(107%);
}
#yellowAvatar {
    filter: brightness(0) saturate(100%) invert(90%) sepia(9%) saturate(5449%) hue-rotate(327deg) brightness(104%) contrast(84%);
}


#c1BottomText, #c2BottomText, #c3BottomText, #c4BottomText  {
    width: 120px;
    line-height: 0;
    color: #7B7B7B;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: "Jockey One", sans-serif;
    cursor: pointer;
}

#blueBottomText, #redBottomText, #greenBottomText, #yellowBottomText {
    width: 120px;
    line-height: 0;
    font-size: 20px;
    text-align: center;
    font-family: "Jockey One", sans-serif;
    color: white;
}
#blueBottomText {
    text-shadow: -1px -1px 0 #0000FF, 1px -1px 0 #0000FF, -1px 1px 0 #0000FF, 1px 1px 0 #0000FF;
}
#redBottomText {
    text-shadow: -1px -1px 0 #FF0000, 1px -1px 0 #FF0000, -1px 1px 0 #FF0000, 1px 1px 0 #FF0000;
}
#greenBottomText {
    text-shadow: -1px -1px 0 #008000, 1px -1px 0 #008000, -1px 1px 0 #008000, 1px 1px 0 #008000;
}
#yellowBottomText {
    text-shadow: -1px -1px 0 #EBB346, 1px -1px 0 #EBB346, -1px 1px 0 #EBB346, 1px 1px 0 #EBB346;
}

#blueContainer, #redContainer, #c1Container, #c3Container {
    margin-bottom: 180px;
    position: relative;
    z-index: 2;
}

#greenContainer, #yellowContainer, #c2Container, #c4Container {
    margin-top: 180px;
    position: relative;
    z-index: 2;
    padding-bottom: 60px;
}

#choicePopup {
    position: absolute;
    left: 100px;
    top: -10px;
    background: #d2d0d0;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    width: 120px;
    padding-top: 6px;
    padding-bottom: 6px;
    z-index: 4;
    border-radius: 6px;
    border: 3px solid gray;
}

#choicePopup div {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
}

#choicePopup div:hover {
    cursor: pointer;
    transition: .1s;
    background: rgb(181, 181, 181)
}