
#avatar4, #avatar5, #avatar6, #avatar7, #avatar0, #avatar1, #avatar2, #avatar3 {
    width: 120px;
    height: 80px;
}

#avatar4, #avatar5, #avatar6, #avatar7 {
    cursor: pointer;
}

#avatar0 {
    filter: brightness(0) saturate(100%) invert(9%) sepia(97%) saturate(6331%) hue-rotate(247deg) brightness(99%) contrast(147%);
}
#avatar2 {
    filter: brightness(0) saturate(100%) invert(21%) sepia(92%) saturate(5422%) hue-rotate(356deg) brightness(116%) contrast(134%);
}
#avatar3 {
    filter: brightness(0) saturate(100%) invert(29%) sepia(95%) saturate(1257%) hue-rotate(92deg) brightness(96%) contrast(107%);
}
#avatar1 {
    filter: brightness(0) saturate(100%) invert(90%) sepia(9%) saturate(5449%) hue-rotate(327deg) brightness(104%) contrast(84%);
}


#bottomText4, #bottomText5, #bottomText6, #bottomText7  {
    width: 120px;
    line-height: 0;
    color: #7B7B7B;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: "Jockey One", sans-serif;
    cursor: pointer;
}

#bottomText0, #bottomText1, #bottomText2, #bottomText3 {
    width: 120px;
    line-height: 0;
    font-size: 20px;
    text-align: center;
    font-family: "Jockey One", sans-serif;
    color: white;
}
#bottomText0 {
    text-shadow: -1px -1px 0 #0000FF, 1px -1px 0 #0000FF, -1px 1px 0 #0000FF, 1px 1px 0 #0000FF;
}
#bottomText2 {
    text-shadow: -1px -1px 0 #FF0000, 1px -1px 0 #FF0000, -1px 1px 0 #FF0000, 1px 1px 0 #FF0000;
}
#bottomText3 {
    text-shadow: -1px -1px 0 #008000, 1px -1px 0 #008000, -1px 1px 0 #008000, 1px 1px 0 #008000;
}
#bottomText1 {
    text-shadow: -1px -1px 0 #EBB346, 1px -1px 0 #EBB346, -1px 1px 0 #EBB346, 1px 1px 0 #EBB346;
}

#container0, #container2, #container4, #container6 {
    margin-bottom: 180px;
    position: relative;
    z-index: 2;
}

#container1, #container3, #container5, #container7 {
    margin-top: 180px;
    position: relative;
    z-index: 2;
    padding-bottom: 60px;
}

#choicePopup {
    position: absolute;
    left: 100px;
    top: -10px;
    background: #d2d0d0;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    width: 120px;
    padding-top: 6px;
    padding-bottom: 6px;
    z-index: 4;
    border-radius: 6px;
    border: 3px solid gray;
}

#choicePopup div {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
}

#choicePopup div:hover {
    cursor: pointer;
    transition: .1s;
    background: rgb(181, 181, 181)
}