#board {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lobbyHolder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lobbyTxt {
    margin-bottom: 600px;
    color: rgb(163, 163, 163);
    font-size: 25px;
    width: 100vw;
    text-align: center;
    font-family: "Jockey One", sans-serif;
}

#timerHolder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#playerTimer {
    margin-top: 470px;
    color: white;
    font-size: 25px;
    width: 100vw;
    text-align: center;
    font-family: "Jockey One", sans-serif;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}
.redBorder {
    text-shadow: -2px -2px 0 rgb(193,21,21), 2px -2px 0 rgb(193,21,21), -2px 2px 0 rgb(193,21,21), 2px 2px 0 rgb(193,21,21) !important;
}

#startBtn {
    margin-bottom: 60px;
    color: white;
    background: green;
    border: 4px solid darkgreen;
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    z-index: 2;
}

#startBtn:hover {
    cursor: pointer;
    filter: brightness(110%);
    transition: .1s;
}