#navBar {
  background-color: #262626;
  height: 4em;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  color: white;
  float: center;
}
