#redBlock {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#redPiece {
  background-color: #af0303;
  border: 4px solid #ff0000;
  width: 3.75em;
  height: 3.75em;
  margin: -2px;
}

#clearPiece {
  width: 2em;
  height: 2em;
  cursor: default;
}
