#game {
    background: #3D3C3C;
    width: 100vw;
    height: 100vh;
}

#boardHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#avatarHolder {
    display: flex;
    flex-direction: column;
}

#boardOutline {
    width: 475px;
    height: 475px;
    background: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    border: 5px solid #7B7B7B;
}