#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -3rem;
}

#landingTitle {
  color: #d2d0d0;
  float: center;
  font-family: "Jockey One", sans-serif;
  font-size: 200px;
  text-shadow: -10px -10px 0 black, 10px -10px 0 black, -10px 10px 0 black,
    10px 10px 0 black;
  cursor: default;
}

#landingButtons {
  display: flex;
  align-items: center;
  margin-top: -3rem;
}

#loginButton,
#signUpButton {
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  height: 60px;
  width: 120px;
  margin-top: 1em;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  font-family: "Jockey One";
  font-size: 30px;
  cursor: pointer;
}

#loginButton:hover,
#signUpButton:hover {
  filter: brightness(1.1);
}

#landing a {
  text-decoration: none;
}
