@import url("https://fonts.cdnfonts.com/css/jockey-one");

#profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 130px;
  text-align: center;
  font-family: "Jockey One";
  font-size: 30px;
  color: white;
  text-shadow: 0 0 3px #000000, 0 0 8px #000000;
}

#profilebox {
  display: flex;
  background: #262626;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  width: 505px;
  height: 501px;
  border: solid;
  border-color: #000000;
  border-width: 5px;
}

#imagebox {
  align-self: center;
  width: 200px;
  height: 200px;
  background-color: #3d3c3c;
  border: solid;
  border-color: #000000;
  border-width: 5px;
}

#infocontainer {
  display: flex;
  justify-content: center;
}

#infotext {
  margin-top: 45px;
  align-self: flex-start;
  font-size: 20px;
  color: grey;
}

.infobox {
  display: flex;
  text-align: right;
}

#inputtext {
  width: 150px;
  margin-top: 45px;
  align-self: flex-start;
  margin-left: 20px;
  font-size: 20px;
  color: grey;
}

.textbox {
  text-align: left !important;
  color: black;
}

#logoutbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  height: 60px;
  width: 150px;
  margin-top: 40px;
  border: solid;
  border-color: #000000;
  border-width: 5px;
}
