@import url("https://fonts.cdnfonts.com/css/jockey-one");

#profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4em;
  text-align: center;
  font-family: "Jockey One", sans-serif;
  font-size: 30px;
  color: #d2d0d0;
  text-shadow: -1.2px -1.2px 0 black, 1.2px -1.2px 0 black, -1.2px 1.2px 0 black,
    1.2px 1.2px 0 black;
}

#profilebox {
  display: flex;
  background: #262626;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 700px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#imagebox {
  align-self: center;
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.profile-picture {
  border-radius: 50%;
  align-self: center;
  cursor: pointer;
  object-fit: cover;
  margin-top: 0.5em;
}

#infocontainer {
  align-self: center;
  margin-top: 0.5em;
  font-size: 20px;
  width: fit-content;
}

.editbox {
  background-color: rgb(64, 64, 64);
  height: 2em;
  align-content: center;
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: none;
  outline: none;
  color: #d2d0d0;
  font-family: "Jockey One";
  font-size: 20px;
  text-shadow: -1.2px -1.2px 0 black, 1.2px -1.2px 0 black, -1.2px 1.2px 0 black,
    1.2px 1.2px 0 black;
}

.editbox::placeholder {
  color: #d2d0d0;
}

.field-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75em;
}

.textbox-label {
  justify-content: left;
  font-size: 16px;
  text-align: left;
}

.textbox {
  background-color: rgb(64, 64, 64);
  height: 2em;
  align-content: center;
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: none;
}

#profilebuttonscontainer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

#logoutbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  height: 60px;
  width: 120px;
  font-family: "Jockey One", sans-serif;
  font-size: 30px;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
  color: #d2d0d0;
  text-decoration: none;
  cursor: pointer;
}

#editprofilebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  height: 60px;
  width: 120px;
  font-family: "Jockey One", sans-serif;
  font-size: 30px;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
  color: #d2d0d0;
  text-decoration: none;
  margin-right: 2em;
  cursor: pointer;
}

#resetpasswordmessage {
  margin-top: 10px;
  font-size: 20px;
}

#logoutbutton:hover,
#editprofilebutton:hover,
#cpbutton:hover {
  filter: brightness(1.1);
}

#cpbutton {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  background-color: rgb(64, 64, 64);
  cursor: pointer;
}

.edit-message {
  background-color: #ff0000;
  border: 2px solid #af0303;
  color: white;
  font-size: 15px;
  font-family: "Jockey One";
  text-shadow: -1.2px -1.2px 0 black, 1.2px -1.2px 0 black, -1.2px 1.2px 0 black,
    1.2px 1.2px 0 black;
  width: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#profile .modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#profile .modal-content {
  background: #262626;
  width: 200px;
  height: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}
.input-buttons {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  z-index: 1;
  position: relative;
  top: -30px;
}

.profile-pic-input {
  cursor: pointer;
}

.upload-button {
  margin-top: 0.5em;
  width: 6.5em;
  cursor: pointer;
}

#profile .close {
  position: relative;
  top: -25px;
  right: -100px;
  cursor: pointer;
}
