#signup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 130px;
  text-align: center;
  font-family: "Jockey One";
  font-size: 30px;
  color: white;
  text-shadow: 0 0 3px #000000, 0 0 8px #000000;
}

#signupbox {
  display: flex;
  background: #262626;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 700px;
  height: 551px;
  border: solid;
  border-color: #000000;
  border-width: 5px;
}

#suimagebox {
  align-self: center;
  width: 200px;
  height: 200px;
  border: solid;
  border-color: #000000;
  border-width: 5px;
}

#suprofilepic {
  width: 100%;
  height: 100%;
}

#suinfocontainer {
  display: flex;
  justify-content: center;
}

#suinfotext {
  width: 150px;
  margin-top: 45px;
  align-self: flex-start;
  font-size: 20px;
  color: grey;
}

.suinfobox {
  display: flex;
  text-align: right;
  margin-bottom: 30px;
}

#suinputtext {
  width: 100px;
  margin-top: 45px;
  align-self: flex-start;
  margin-left: 20px;
  font-size: 20px;
  color: grey;
}

.sutextbox {
  text-align: left !important;
  color: black;
  margin-bottom: 30px;
}

#signupbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  height: 60px;
  width: 120px;
  margin-top: 40px;
  border: solid;
  border-color: #000000;
  border-width: 5px;
  color: white;
  text-decoration: none;
}
