#navBar {
  background-color: #262626;
  height: 4em;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#homeButton {
  padding-left: 1em;
  position: absolute;
  top: 15px;
  left: 0;
}

#navBarTitle {
  color: #d2d0d0;
  font-family: "Jockey One", sans-serif;
  font-size: 30px;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
}

#helpButton {
  padding-right: 1em;
  position: absolute;
  top: 15px;
  right: 0;
}

#navBar a {
  text-decoration: none;
}
