.StartOrJoinGameModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3d3d3dcc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.StartOrJoinGameModal .modal-content {
  background: #262626;
  padding: 20px;
  width: 35em;
  height: 26rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.StartOrJoinGameModal .modal-content a {
  text-decoration: none;
}

.back-modal {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal-buttons-container {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-game-button-container {
  background-color: #008000;
  border: 4px solid #00dd00;
  width: 25em;
  height: 3.9em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-game-button-container {
  background-color: #0000a1;
  border: 4px solid #0000ff;
  width: 25em;
  height: 3.9em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.local-game-button-container {
  background-color: #af0303;
  border: 4px solid #ff0000;
  width: 25em;
  height: 3.9em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.online-game-button-container {
  background-color: #ebb346;
  border: 4px solid #fff505;
  width: 25em;
  height: 3.9em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.online-game-code-button-container {
  background-color: #e7792a;
  border: 4px solid #ffc148;
  width: 25em;
  height: 3.9em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.online-game-code-input {
  margin: 10px;
  font-family: "Jockey One", sans-serif;
  color: #d2d0d0;
  font-size: 45px;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
  text-wrap: nowrap;
  border: none;
  background-color: transparent;
  text-align: center;
  outline: none;
  caret-color: black;
}

.online-game-code-input::placeholder {
  color: #d2d0d0;
}

.public-game-button-container {
  background-color: #8a00a1;
  border: 4px solid #db00ff;
  width: 25em;
  height: 3.9em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-game-button-container:hover,
.join-game-button-container:hover,
.local-game-button-container:hover,
.online-game-button-container:hover,
.public-game-button-container:hover,
.close-modal:hover,
.back-modal:hover {
  transition: 0.1s;
  filter: brightness(1.2);
}

.button-text {
  margin: 10px;
  font-family: "Jockey One", sans-serif;
  color: #d2d0d0;
  font-size: 45px;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
  text-wrap: nowrap;
}

.button-description {
  padding-top: 0.25em;
  font-family: "Jockey One", sans-serif;
  color: #595757;
  font-size: 20px;
  text-align: center;
  width: 400px;
  line-height: 1em;
  cursor: default;
}
